.views-container {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80%;
}

.views {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1280px;
  row-gap: 14px;
  column-gap: 14px;
}

