@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
  --body-font: 'Poppins', sans-serif;
  --text-color: #5C8D89;
  --primary-color: #206A5D;
  --secondary-color: #4E8D7C;
  --tertiary-color: #F4F9F4;
  --quaternary-color: rgb(241, 243, 245);

  --text-title: 14px;
  --text-subtitle: 11px;
}

body {
  margin: 0;
  font-family: var(--body-font)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  pointer-events: none;
}


/* diest styles */
.diet {
  border-radius: 3px;
  padding: 0 4px;

}

.glutenfree {
  border: 1px solid aqua;
  color: aqua;
}

.lactoovovegetarian {
  border: 1px solid red;
  color: red;
}

.whole30 {
  border: 1px solid green;
  color: green;
}

.vegan {
  border: 1px solid orange;
  color: orange;
}

.paleolithic {
  border: 1px solid gray;
  color: gray;
}

.primal {
  border: 1px solid yellowgreen;
  color: yellowgreen;
}

.pescatarian {
  border: 1px solid blue;
  color: blue;
}