.card-container {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  max-height: 160px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid var(--quaternary-color);
  box-shadow: 0 5px 10px 0 rgb(240, 240, 240), 0 5px 10px 0 rgb(240, 240, 240);
  cursor: pointer;
}

.img-container{
  display: flex;
  align-items: center;
}

.img {
  width: 180px;
  border-radius: 5px;
}

.card-description {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: var(--text-title);
  font-weight: bold;
  color: black;
}

.card-list {
  font-size: var(--text-subtitle);
  padding-top: 8px;
  display: flex;
  column-gap: 4px;
  row-gap: 4px;
  flex-flow: row wrap;
}

.styled-link {
  text-decoration: none;
}

/* diest styles */
.diet {
  border-radius: 3px;
  padding: 0 4px;

}

.glutenfree {
  border: 1px solid aqua;
  color: aqua;
}

.lactoovovegetarian {
  border: 1px solid red;
  color: red;
}

.whole30 {
  border: 1px solid green;
  color: green;
}

.vegan {
  border: 1px solid orange;
  color: orange;
}

.paleolithic {
  border: 1px solid gray;
  color: gray;
}

.primal {
  border: 1px solid yellowgreen;
  color: yellowgreen;
}

.pescatarian {
  border: 1px solid blue;
  color: blue;
}