.card-container {
  position: relative;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 150px;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05), 0 5px 10px 0 rgba(0, 0, 0, 0.05);
}

.img {
  height: 120px;
  width: 180px;
  border-radius: 5px;
}

.text {
  font-size: 20px;
}

