.opacity-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.modal {
  background-color: white;
  border-radius: 5px;
  height: 700px;
  width: 980px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 950px;
  margin: 20px;
}

.title-detail {
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 18px;
}

.close-link {
  color: var(--secondary-color);
  padding-right: 20px;
}

.close-link:link {
  text-decoration: none;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px;
}

.container-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.image-detail {
  width: 312px;
}

.diets-detail {

  height: 50px;
}

.healthScore-detail {

  height: 50px;
  width: 490px;
}

.container-two {
  overflow: scroll;
  height: 450px;
  width: 490px;
  padding: 20px;
}

b {
  color: var(--primary-color);
}