#navbar-container {
  background-color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 7%;
}

#navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-grow: 1;
  max-width: 980px;
}

#logo {
  align-items: center;
  display: flex;
  column-gap: 4px;
  font-size: 20px;
  cursor: pointer;
}

.logo-icon {
  font-size: 25px;
  color: var(--primary-color);
}

#logo-text {
  font-weight: bold;
  padding-left: 10px;
  color: var(--primary-color);
}

#search-container {
  position: relative;
  width: 45%;
}

#search-input {
  width: 99%;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 16px;
  background-color: var(--quaternary-color)
}

#search-input:focus {
  outline: 1px solid white;
}

#search-icon {
  position: absolute;
  right: -3px;
  bottom: 4px;
  cursor: pointer;
  color: var(--primary-color);
}

#button-create {
  background-color: var(--primary-color);
  height: 32px;
  width: 100px;
  color: white;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  font-size: var(--text-subtitle);
  cursor: pointer;
}